/* RESET */

body{

margin:0;

font-family:Arial, sans-serif;

background:#dfe5ec;

text-align:center;

}


/* HEADER */

#headerApp{

font-size:28px;

font-weight:bold;

color:white;

padding:18px;

letter-spacing:1px;

background:linear-gradient(90deg,#16a34a,#22c55e);

}


/* SUBTITULO */

.subtitulo{

margin-top:12px;

font-size:16px;

color:#333;

}


/* DATA */

#dataAtual{

font-size:14px;

color:#555;

margin-bottom:15px;

}


/* CARD PRINCIPAL */

.card{

background:white;

width:360px;

margin:30px auto;

padding:30px;

border-radius:18px;

box-shadow:0px 8px 20px rgba(0,0,0,0.12);

}


/* INPUTS */

input, select{

width:90%;

padding:10px;

margin:8px;

border-radius:8px;

border:1px solid #ccc;

font-size:15px;

}


/* BOTÕES */

button{

background:#2e75b6;

color:white;

border:none;

padding:12px 18px;

margin:8px;

border-radius:10px;

cursor:pointer;

font-size:15px;

transition:0.2s;

}


button:hover{

background:#1f4e79;

}


/* BOTÃO PDF */

#btnPDF{

background:#3b82f6;

}


/* BOTÃO INSTALAR */

#btnInstalar{

background:#16a34a;

}


#btnInstalar:hover{

background:#15803d;

}


/* RESULTADO */

#resultado{

background:#e9eef5;

padding:22px;

margin:25px auto;

width:360px;

border-radius:14px;

font-size:16px;

}


/* BARRA PROGRESSO */

.barra-container{

width:360px;

height:14px;

background:#cfd6de;

margin:18px auto;

border-radius:10px;

overflow:hidden;

}


#barra{

height:14px;

width:0%;

background:#22c55e;

transition:width 0.8s ease;

}


/* MENU INICIAL */

.menu{

margin-top:120px;

}


.menu h2{

font-size:32px;

color:#1f4e79;

margin-bottom:30px;

}


.menu button{

display:block;

margin:14px auto;

width:240px;

font-size:18px;

}


/* FOOTER */

footer{

margin-top:35px;

font-size:14px;

color:#555;

}


/* RESPONSIVO CELULAR */

@media(max-width:480px){

.card{

width:92%;

padding:22px;

}

#resultado{

width:92%;

}

.barra-container{

width:92%;

}

.menu h2{

font-size:26px;

}

}
.btnVoltar {

position: absolute;

left: 15px;

top: 12px;

background: white;

border: none;

font-size: 20px;

padding: 6px 10px;

border-radius: 8px;

cursor: pointer;

transition: 0.2s;

}

.btnVoltar:hover {

background: #e6f0ff;

}
